<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".InternshipApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_todo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_todo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJypFCRTD5d-5KV4CjBSAAZWWDtcMXj0I"/>

        <activity
            android:name=".ui.parentScreen.ParentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>